<div class="row">
<div class="col-6 p-2">
    <div class="card shadow m-auto">
        <div class="card-header bg-primary bg-opacity-50 text-center h2"> List Products</div>
        <div class="card-body">
            <div class="card-text">
                <p>This section is used to list all the available products in the store. 
                Click on the link to see the list of products. </p>
                <a [routerLink]="['/productsapi/list']" class="btn bt-lg btn-success">
                    Show List &raquo;
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-6 p-2">
    <div class="card shadow m-auto">
        <div class="card-header bg-primary bg-opacity-50 text-center h2"> Add New Products</div>
        <div class="card-body">
            <div class="card-text">
                <p>If the required products are not visible in the store, or to add new products 
                Visit the link given below . </p>

                <a [routerLink]="['/productsapi', 'create']" class="btn bt-lg btn-success">
                    Add New Product &raquo;
                </a>
            </div>
        </div>
    </div>
</div>



</div>
