<div class="card shadow m-auto mt-5">
    <div class="card-header bg-danger bg-opacity-50">
        <div class="display-3">Remove product  - {{productId}}</div>
    </div>
    <div class="card-body">
        <form (ngSubmit)="onFormSubmit($event)">
            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text"  [value]="model.productName" name="productName"
                    class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label for="unitPrice">Unit Price</label>
                <input type="text"  [value]="model.unitPrice"  name="unitPrice"
                    class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label for="unitsInStock">Units In Stock</label>
                <input type="text"  [value]="model.unitsInStock"  name="unitsInStock"
                    class="form-control" disabled/>
            </div>
            <hr/>
            <input type="submit" value="Yes" class="btn btn-success"/>
            <input type="reset" value="Reset" class="btn btn-secondary"/>
        </form>
    </div>
</div>
